.app-header {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 10%;
    padding: 1%;
    color: #C18536;
  }

  .title {
    font-size: 1.5em;
  }

  .header-left {
      flex: 2;
      display: flex;
      justify-content: flex-start;
  }

  .header-right {
      flex: 2;
      display: flex;
      justify-content: flex-end;
  }

  .header-right-inside {
      display: flex;
      justify-content: flex-end;
      margin-right: 3%
  }

  .header-center {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: red;
      font-size: 1.5em;
  }

  .header-logo {
    height: 100%;
    width: 60%;
  }